[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-osc = "*"
markovify = "*"
numpy = "*"
joblib = "*"
gunicorn = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
"psycopg2" = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
alembic = "*"
flask-alembic = "*"
ipython = "*"
flask-cors = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
